* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 21%;
    margin-right: 21%;
}

.links {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    gap: 12px;
}

.logo h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.logo ul {
    color: #F9FAF8;
    list-style-type: none;
}

.header-box {
    display: flex;
    flex-wrap: wrap;
    margin-left: 21%;
    margin-right: 21%;
    margin-bottom: 30px;
}

.header-contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
}

.header-left, h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
}

.header-left, p {
    font-size: 18px;
    color: #E5EBE7;
    font-weight: normal;
    margin-top: 0;
}

button {
    background-color: #3882F6;
    color: white;
    border: 0;
    border-radius: 15px;
    padding: 12px;
    width: 200px;
}

.placeholder-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    background-color: grey;
    width: 400px;
    height: 200px;
    margin-left: auto;
    border-radius: 15px;
}

.info-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.placeholder-divs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    gap: 100px;
}

.box-one, .box-two, .box-three, .box-four {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.box-one p, .box-two p, .box-three p, .box-four p {
    color: #1F2937;
    font-size: 11px;
    text-align: center;
}

.one, .two, .three, .four {
    width: 150px;
    height: 150px;
    border: 5px;
    border-style: solid;
    border-radius: 15px;
    border-color: #3882F6;
    margin: 5px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-box {
    display: flex;
    flex-wrap: wrap;
    margin-left: 21%;
    margin-right: 21%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.call-to-action {
    margin-left: 21%;
    margin-right: 21%;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #3882F6;
    border-radius: 15px;
    padding: 15px;
}

.blue-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

.blue-box-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: start;
    flex-shrink: 1;
}

#sign-up {
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    padding: 15px;
    flex-shrink: 1;
}

#call-to {
    color: white;
}

.footer {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 15px;
}